# Ignore data files
# data/

# Ignore virtual environment
.venv/

# Ignore Python cache files
#__pycache__/
#*.py[cod]

# ignore CSV in notebook folder
notebook.csv
notebook/*bank_reviews.csv
bank_reviews_with_sentiment_themes.csv
bank_reviews.csv